@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "Roles";
}
<h1>Roles</h1>
@if (!Model.Any())
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
             <a asp-controller="Admin" asp-action="CreateRole"
       class="btn btn-primary" style="width:auto">
            Create Role
        </a>
        </div>       
    </div>
}
else
{
     <a asp-controller="Admin" asp-action="CreateRole"
       class="btn btn-primary mb-3" style="width:auto">
            Create Role
        </a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role id: @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="admin" asp-action="editrole" asp-route-id="@role.Id"
           class="btn btn-primary">Edit</a>
                <a asp-controller="admin" asp-action="deleterole" asp-route-id="@role.Id"
           class="btn btn-primary">Delete</a>
            </div>
        </div>
    }

}